@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

.active hr{
    @apply block;
}

::-webkit-scrolbar{
    @apply hidden;
}

/* Target Razorpay SVG inside the payment modal */
.razorpay-payment-button svg {
  width: 100% !important;
  height: auto !important;
}
